@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Rubik:400,500,700');
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import './_colors.scss';
$brand-primary: $primary-color;
$brand-danger: $error_color;
$body-bg: $background-color;

h2 {
  font-family: 'Rubik';
}
.jumbotron {
  background-color: #86b3da;
  min-height: 60px;
  padding: 1em 1em;
}

.body-text {
  h4 {
    font-size: 1em;
    font-weight: 500;
  }

  h3 {
    font-size: 1.2em;
    color: #f0928f;
  }
}

.list-group-item.active a {
  color: white;
}
#header-news-quote {
  font-weight: 400;
  font-size: 1.2em;

  a {
    color: white;
    text-decoration: underline;
    font-weight: 500;
    font-size: 1em;
  }
}
